<h1>Ma calc</h1>

<div class="calculator">
  <div class="inputdiv">
    <input
      placeholder="0"
      class="result"
      type="text"
      readonly
      value="{{ result }}"
    />
  </div>
  <div class="buttons">
    <button
      class="input-button"
      *ngFor="let longbutton of longButtons"
      (click)="addToExpression(longbutton)"
    >
      {{ longbutton }}
    </button>
    <button
      class="input-button"
      *ngFor="let button of buttons"
      (click)="addToExpression(button)"
    >
      {{ button }}
    </button>
    <button
      id="equal"
      class="input-button"
      *ngFor="let button of equal"
      (click)="addToExpression(button)"
    >
      {{ equal }}
    </button>
  </div>
</div>
